extends layout

block content
  div.col-lg-12
    h1.page-header 领域模型
  div.col-lg-6
    div.panel.panel-default
      div.panel-body
        a#createModelBtn(href='javascript:;',title='添加领域模型')
          h1.text-center
            i.fa.fa-plus
    - if (leftList.length)
    - leftList.forEach(function(item){
    div.panel.panel-default
      div.panel-heading
       = item.name
       div.pull-right
          div.btn-group
            button.btn.btn-default.btn-xs.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false") 操作
              span.caret
            ul.dropdown-menu.pull-right(role="menu")
              li
                a.model-edit(href="javascript:void(0)",data-id=item._id,data-name=item.name) 编辑 
              li
                a.model-del(href="javascript:void(0)",data-id=item._id,data-name=item.name) 删除
              li.divider
              li
                a.model-property-add(href="javascript:void(0)",data-id=item._id,data-name=item.name) 添加属性
      div.panel-body
        div.table-responsive
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th(style='width:10%') #
                th(style='width:62%') 名称
                th(style='width:20%') 类型
                th(style='width:8%')
            tbody
              - item.property.forEach(function(p,n){
              tr
                td #{n+1}
                td #{p.name}
                td #{p.type}
                td
                  ul.list-inline.small(style='margin-bottom: 0')
                    li
                      a(href='#',title='编辑')
                        i.glyphicon.glyphicon-edit  
                    li
                      a(href='#',title='删除')
                        i.glyphicon.glyphicon-remove
              - })
    - })
  div.col-lg-6
    - if (rightList.length)
    - rightList.forEach(function(item){
    div.panel.panel-default
      div.panel-heading
       = item.name
       div.pull-right
          div.btn-group
            button.btn.btn-default.btn-xs.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false") 操作
              span.caret
            ul.dropdown-menu.pull-right(role="menu")
              li
                a.model-edit(href="javascript:void(0)",data-id=item._id,data-name=item.name) 编辑 
              li
                a.model-del(href="javascript:void(0)",data-id=item._id,data-name=item.name) 删除
              li.divider
              li
                a.model-property-add(href="javascript:void(0)",data-id=item._id,data-name=item.name) 添加属性
      div.panel-body
        div.table-responsive
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th(style='width:10%') #
                th(style='width:62%') 名称
                th(style='width:20%') 类型
                th(style='width:8%')
            tbody
              - item.property.forEach(function(p,n){
              tr
                td #{n+1}
                td #{p.name}
                td #{p.type}
                td
                  ul.list-inline.small(style='margin-bottom: 0')
                    li
                      a(href='#',title='编辑')
                        i.glyphicon.glyphicon-edit  
                    li
                      a(href='#',title='删除')
                        i.glyphicon.glyphicon-remove
              - })
    - })
  script(src='/javascript/model.js')
  div.col-lg-12.hidden.model-property-add-template
    form
      div.form-group
        label(for='name') 属性名称
        input.form-control(type='email',name='name',placeholder='请输入属性名称')
      div.form-group
        label(for='type') 属性类型
        select(class='form-control',name='type')
          option(value='') ---请选择---
          option(value='text') 文本
          option(value='number') 数字
          option(value='date') 日期
          option(value='object') 对象
          option(value='array') 集合
      //- div.form-group
      //-   label(for='text-setting') 文本设置
      //-   div
      //-     label.mr10(for='text-setting-row') 行数
      //-     label.radio-inline
      //-       input(type='radio',name='text-setting-row',value='single')
      //-       | 单行
      //-     label.radio-inline
      //-       input(type='radio',name='text-setting-row',value='multiline')
      //-       | 多行
      //-   div
      //-     label.mr10(for='text-setting-require') 必填
      //-     label.radio-inline
      //-       input(type='radio',name='text-setting-require',value='true')
      //-       | 是
      //-     label.radio-inline
      //-       input(type='radio',name='text-setting-require',value='false')
      //-       | 否
      //-   div
      //-     label.mr10(for='text-setting-placeholder') 提示文本
      //-     input(type='text',name='text-setting-placeholder',value='请输入')
      //-   div
      //-     label.mr10(for='text-setting-maxlength') 字符容量
      //-     input(type='number',name='text-setting-maxlength',value='100')
      //- div.form-group
      //-   label(for='number-setting') 数字设置
      //- div.form-group
      //-   label(for='date-setting') 日期设置
      //- div.form-group
      //-   label(for='object-setting') 对象设置
      //- div.form-group
      //-   label(for='array-setting') 集合设置